@import url("https://fonts.google.com/specimen/Red+Hat+Display");
:root{
    --PaleBlue: hsl(225, 100%, 94%);
    --DesaturatedBlue:hsl(224, 23%, 55%);
    --DarkBlue: hsl(223, 47%, 23%);
    --BrightBlue: hsl(245, 75%, 52%)

}

* {
    font-family: "Red Hat Display", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--PaleBlue);
    background-image: url("Components/images/pattern-background-desktop.svg"); 
    background-repeat: no-repeat;
    background-size: contain; 
}
.Card {
    background-color: white;
    width: 400px;
    border-radius: 1rem;
}
.CardContainer{
    display: flex;
    flex-direction: column;
}
.Header img{
    border-radius: 1rem 1rem 0 0;

}
.Main{
    padding: 1.5rem 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1.5rem ;
}
.title{
    color: var(--DarkBlue);
}
.content{
    color: var(--DesaturatedBlue);
    font-weight: 500;
}
.Plan{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--PaleBlue);
    padding: 1rem;
    border-radius: 1rem;
}
.Plan div{
    display: flex;
    gap: .5rem;
    align-items: center;
}
.plan-info{
    display: flex;
    flex-direction: column;
    gap: 0.2 rem;
}
.plan-info b{
    color: var(--DarkBlue);
}
.Plan .link{
    text-decoration: underline;
    color: var(--BrightBlue);
    cursor: pointer;
}
.Plan .link:hover{
    text-decoration: none;
    opacity: 70%;
}
.plan-info span{
    color:var(--DesaturatedBlue);
}
.Buttons{
    display: flex;
    flex-direction: column;
    gap: 0.5rem ;
}
.Buttons button{
    padding: .7rem;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
}
.ConfirmButton{
    background-color: var(--BrightBlue);
    color: white;
}
.ConfirmButton:hover{
    opacity: 90%;
}
.CancelButton{
    color:var(--DesaturatedBlue);
    font-weight: 700;
    background-color: white;
}
.CancelButton:hover{
    color:var(--DarkBlue)
}
@media screen and (max-width: 500px){
    body{
        background-image: url("Components/images/pattern-background-mobile.svg");
    }
    .Card{
        width: 360px;
    }
}